# environments/dev/01-infra/terraform.tfvars

do_token     = "dop_v1_YOUR_ACTUAL_TOKEN_HERE"
root_domain  = "fires.systems"
region       = "sgp1"
cluster_name = "fire-monitoring-dev"
node_size    = "s-2vcpu-4gb"
node_count   = 2